<!DOCTYPE html>
{% extends "main/base.html" %}

{% block title %}ra3fd log{% endblock %}



{% block content %}
    <html>
    <head>
        <style type="text/css">

        </style>

    </head>

    <br>
    <div  style="text-align: center;"><big><i>QSO all bands and mode ({{ len_call_allbands_mode }}):</i></big></div>
    <p><div style="text-align: left;">


        {% for item in call_allbands_mode %}
            {{ item }}
        {% endfor %}

    </div>




    <p><div style="text-align: center;">{{ date_max|date:'r' }} (MSK) {{ tt }} sec </div>


    </html>

{% endblock %}
