{% extends "main/base.html" %}

{% block title %}ra3fd log{% endblock %}



{% block content %}
    <html lang="en">
    <head>
        <style type="text/css">

        </style>
        <title>max qso</title>

    </head>

    <br>
    <div style="text-align: center;"><big><i>Max QSO(250):</i></big></div>
    <p><div style="text-align: left;">


        {% for item in c_qq %}
            {{ item }}
        {% endfor %}

    </div>




    <p><div style="text-align: center;">{{ date_max|date:'r' }} (MSK) {{ tt }} sec </div>


    </html>

{% endblock %}
