<!DOCTYPE html>
<meta http-equiv="Refresh" content="3" xmlns="http://www.w3.org/1999/html"/>

{% extends "main/base.html" %}

{% block title %}ra3fd log{% endblock %}



{% block content %}
    <html>
    <head>
        <style type="text/css">

        </style>

    </head>

    <br>
    <br>
    <br>

    <div style="text-align: center;">


        <span style="font-size: large;"><p>* {{ fqq1 }} </p>
        <p>* {{ fqq2 }} </p>
        <p>* {{ fqq3 }} </p></span>


    </div>


    </html>

{% endblock %}
