<!DOCTYPE html>
<meta http-equiv="Refresh" content="2" xmlns="http://www.w3.org/1999/html"/>

{% extends "main/base.html" %}

{% block title %}ra3fd log{% endblock %}



{% block content %}
    <html>
    <head>
        <style type="text/css">

        </style>

    </head>

    <br>
    <div style="text-align: center; font-size: 200%">
    {{ data }}
    </div>
    <br>
    <div style="text-align: center;">

        <span style="font-size: 125%">{{ prefix }}-{{ cname }} {{ cont }}</span>

    </div>
    <br>

    <div style="text-align: center;">

        Total <span style="font-weight: bold;">{{ qso }}</span> {{ qso_qsos|default:'0 QSO' }}

    </div>

    <br>
    <table bgcolor ="0A135D" align="center" border="2" cellspacing=1 cellpadding=1>
        <tr>
            <td height="23" width="45" style="text-align: center; font-size: 11px"><a href="http://www.srware.net" title=" SRWare Iron ">*</a></td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_160 }}>160</td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_80 }} >80</td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_40 }}>40</td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_30 }}>30</td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_20 }}>20</td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_17 }}>17</td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_15 }}>15</td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_12 }}>12</td>
            <td width="45" style="text-align: center; font-size: 11px" title = {{ total_10 }}>10</td>

        </tr>
        <tr>
            <td height = "23" width="45" style="text-align: center; font-size: 11px" title=" {{ total_cw }}">cw</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_160cw|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_80cw|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_40cw|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_30cw|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_20cw|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_17cw|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_15cw|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_12cw|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px ">{{ qso_10cw|default:'' }}</td>

        </tr>
        <tr>
            <td height = "23" width ="45" style="text-align: center; font-size: 11px" title=" {{ total_ssb }}">ssb</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_160ssb|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_80ssb|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_40ssb|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ ' ' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_20ssb|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_17ssb|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_15ssb|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_12ssb|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_10ssb|default:'' }}</td>

        </tr>
        <tr>
            <td height = "23" width ="45" style="text-align: center; font-size: 11px" title=" {{ total_rtty }}">rtty</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_160rtty|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_80rtty|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_40rtty|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_30rtty|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_20rtty|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_17rtty|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_15rtty|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_12rtty|default:'' }}</td>
            <td width ="45" style="text-align: center; font-size: 14px">{{ qso_10rtty|default:'' }}</td>

        </tr>

        <tr>
            <td height = "23" width="45" style="text-align: center; font-size: 11px" title=" {{ total_psk }}">psk</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_160psk|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_80psk|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_40psk|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_30psk|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_20psk|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_17psk|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_15psk|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_12psk|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_10psk|default:'' }}</td>

        </tr>
        
        <tr>
            <td height = "23" width="45" style="text-align: center; font-size: 11px" title=" {{ total_ft4 }}">ft4</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_160ft4|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_80ft4|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_40ft4|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_30ft4|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_20ft4|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_17ft4|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_15ft4|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_12ft4|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_10ft4|default:'' }}</td>

        </tr>
        
       <tr>
            <td height = "23" width="45" style="text-align: center; font-size: 11px" title=" {{ total_ft8 }}">ft8</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_160ft8|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_80ft8|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_40ft8|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_30ft8|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_20ft8|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_17ft8|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_15ft8|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_12ft8|default:'' }}</td>
            <td width="45" style="text-align: center; font-size: 14px">{{ qso_10ft8|default:'' }}</td>

        </tr>
        

    </table>

    <p><div style="text-align: center">{{ t_random|default:'' }}</div>

    <br>

    <table align="center">

        {% for entry in q2 %}

            <tr>

                <td><big>{{ entry.callsign }}</big></td>
                <td>{{ ' ' }}</td>
                <td>{{ entry.datetime|date:"Y-m-d H:i" }}</td>
                <td>{{ ' ' }}</td>
                <td>{{ entry.band }}</td>
                <td>{{ entry.mode }}</td>

            </tr>

        {% endfor %}

    </table>

    </html>
{% endblock %}
